@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.body {
  background-image: url('../sign/assests/Paper plane.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 102vh;
  margin: -2px 0 50px;
}

.signin{
  margin-top: 3rem;
}

